<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buster's Best Bowling Alley</title>
  </head>
  <body> <!--#viewable part of webpage-->
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <h3><%= "I love " + "Ruby!!" %></h3>
    <p>97 Bowling Alley Lane, Boulder CO </p>

    <% if 1 == 2 %>
    <p>1 equals 2.</p>
    <% else %>
    <p>1 does not equal 2.</p>
    <% end %>
  </body>
</html>
